.callback-form {
  display: flex;
  flex-direction: column;
  &-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    input {
      width: 100%;
      padding-bottom: 16px;
      text-transform: uppercase;
      color: black;
      border-bottom: 1px solid #585C62;
      outline: none;
      @include placeholder-content {
        font-weight: 500;
        padding-bottom: 16px;
        text-transform: uppercase;
        color: #A4A4AA;
      }
    }
    label {
      display: block;
      color: #A4A4AA;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    textarea {
      width: 100%;
      height: 150px;
      background: #F0F4F8;
      border-radius: 10px;
      resize: none;
      padding: 16px;
    }
  }
  button {
    align-self: center;
    min-width: 200px;
  }
}

.form__error {
  margin-top: 4px;
  color: $red;
}