.pagination {
	color: white;
	&-black {
		color: black;
		.pagination__prev,
		.pagination__next {
			&._disable {
				svg {
					stroke: #d9d9d9;
				}
			}
		}
		svg {
			stroke: #0a0a0a;
		}
	}
	@extend %flex-center;

	a {
		@extend %flex-center;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		border: 1px solid transparent;
		&:hover {
			border-color: $main-yellow;
		}
	}
	&__prev,
	&__next {
		font-size: rem(28);
		svg {
			stroke: $main-yellow;
		}
		&._disable {
			svg {
				stroke: #2b2f2f;
			}
		}
	}
	&__prev {
		svg {
			transform: rotate(-180deg);
		}
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			width: rem(40);
			height: rem(40);
			@extend %flex-center;
		}
	}
	&__item {
		position: relative;

		&._active {
			color: $main-yellow;
		}
	}
}
