.sertificates-slider {
  min-width: 0;
  overflow: visible;
  &-content {
    .sliders-controls {
      margin-bottom: 16px;
      margin-left: auto;
    }
  }
  &-nav {
    display: flex;
  }
  &-slide {
    border: 1px solid #A4A4AA;
    border-radius: 10px;
    transition: $transition;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:hover {
      border-color: $main-blue;
      background: $main-blue;
      .sertificates-slider-slide-logo {
        border-bottom: 1px dashed white;
        svg {
          fill: white;
        }
      }
      .sertificates-slider-slide-title {
        color: white;
      }
    }
    &-logo {
      @extend %flex-center;
      height: 182px;
      position: relative;
      border-bottom: 1px solid #A4A4AA;
      svg {
        transition: $transition;
      }
      img {
        @extend %cover;
        object-fit: cover;
      }
    }
    &-title {
      color: #A4A4AA;
      padding: 24px 10px 18px 10px;
      h4 {
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        transition: $transition;
      }
    }
  }
}