// <div class="checkbox">
// 	<label class="checkbox__text">
// 		<input
// 			checked
// 			type="checkbox"
// 			name="agreement"
// 			class="checkbox__input"
// 			data-required
// 		>
// 		<div class="icon-check"></div>
// 		<span>ПРИЙМАЮ <a href="privacy-policy.html">УМОВИ</a>ОБРОБКИ ПЕРСОНАЛЬНИХ ДАНИХ</span>
// 	</label>
// </div>

.checkbox {
    position: relative;
    cursor: pointer;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;

        &:checked + .icon-check {
            //background: url("../img/interface/checkbox.svg") center no-repeat;
            background: $white;
        }
    }

    .icon-check {
        content: "";
        align-self: flex-start;
        margin: 0 rem(8) 0 0;
        flex: 0 0 24px;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background: transparent;
        border: 1px solid $white;
        border-radius: 100%;
    }

    &__text {
        line-height: math.div(24, 18);
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: border-color 0.3s ease;

        &._error {
            .icon-check {
                border-color: $red;
            }
        }
    }
}

.checkbox-toggle {
    position: relative;
    display: inline-block;

    &__btn {
        display: none;
    }

    &__content {
        display: grid;
        grid-template-columns: 36px auto;
        align-items: center;
        gap: 15px;
    }

    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;

        a {
            transition: $defaultTransition;
            position: relative;
            z-index: 6;
            color: #03C3CF;

            &:hover {
                color: #0497A1;
            }
        }
    }

    &::after,
    &::before {
        font-feature-settings: normal;
        font-kerning: auto;
        font-language-override: normal;
        font-stretch: normal;
        font-style: normal;
        font-synthesis: weight style;
        font-variant: normal;
        font-weight: normal;
        text-rendering: auto;
    }

    &__switch {
        width: 36px;
        height: 20px;
        background: linear-gradient(90deg, #03C3CF 0%, #3EF4FF 100%);
        border-radius: 40px;
        position: relative;
        display: inline-block;
        border-radius: 99px;
        transition: $defaultTransition;

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            left: 5px;
            top: 4px;
            z-index: 2;
            background: #000000;
            transition: $defaultTransition;
        }
    }

    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
        cursor: pointer;

        &:hover + label::after {
            box-shadow: 0 2px 15px 0 rgb(0 0 0 / 20%);
        }

        &:checked + label {
            &::after {
                left: 20px;
            }
        }
    }
}
