.form {
    &__file {
        margin-top: 20px;
    }

    &__accept {
        margin-top: 30px;
        margin-bottom: 10px;

        @media (max-width: $mobile) {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }

	button {
		cursor: pointer;
	}

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &._error input {
            border-color: $red;
        }

        &._focus input {
            border-color: $hover;
        }

        &._focus .form__required {
            display: none;
        }

        input,
        textarea {
            height: 60px;
            width: 100%;
            background: $white;
            border: 2px solid #E4EBF3;
            border-radius: 8px;
            padding: 4px 20px;
            color: $black;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            transition: all 0.3s;

            @include placeholder-content {
                color: $grey;
            }
        }

        textarea {
            padding: 20px;
            height: 130px;
        }
    }

    &__viewpass {
        position: absolute;
        top: 30px;
        right: 20px;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        cursor: pointer;

        &.active {
            &::before {
                background-image: url("../img/interface/pass-view.svg");
            }
        }

        &::before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-image: url("../img/interface/pass-hide.svg");
            background-repeat: no-repeat;
        }
    }

    &__required {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 8px;
        height: 8px;
        transform: translateY(-50%);
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background-image: url("../img/interface/star.svg");
            background-repeat: no-repeat;
        }
    }

    .button {
        margin-top: 30px;
        width: 100%;
        height: 48px;
        text-align: center;
        line-height: 48px;
        background: $primary-bg;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        transition: all 0.3 ease;
        border-radius: 5px;

        &:hover {
            background: $primary-bg-hover;
        }
    }

    // * ERROR
    &__error {
        color: $red;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
}

.file {
    display: flex;
	flex-direction: column;
    width: 100%;

	&__input-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50px;
		background: #1B1B1B;
		border: 1px solid #353535;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
	}

    .file__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 10;
    }

	.file__tags {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		.file-tag {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 36px;
			padding: 6px 14px 7px 20px;
			font-weight: 500;
			font-size: 15px;
			line-height: 22px;
			color: #FFFFFF;
			border: 1px solid #3EF4FF;
			border-radius: 45px;
			background: linear-gradient(90deg, rgba(3, 195, 207, 0.1) 0%, rgba(62, 244, 255, 0.1) 100%);
			img {
				width: 10px;
				margin-left: 25px;
			}
		}
	}

    .file__button {
        margin-left: 15px;

        .message-text {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
        }
    }

    .icon-pin {
        cursor: pointer;

        .cross-icon {
            display: none;
        }
    }

    .file__error {
        display: block;
        font-size: 12px;
        margin-left: 15px;
        color: $red;
    }
}

@import "checkbox";
@import "select";
