.s-advantage {
	max-width: 100%;
	padding: 80px 0;
	background: white;
	position: relative;
	@media (max-width: $mobile) {
		padding: 40px 0 60px 0;
	}
	&-decor {
		position: absolute;
		top: 9vw;
		left: 0;
		pointer-events: none;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&-content {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1.3fr 1fr;
		column-gap: 136px;
		row-gap: 40px;
		position: relative;
		z-index: 2;
		grid-template-areas:
			'text-slider image-slider'
			'sliders-controls image-slider';
		@media (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;
			column-gap: 32px;
		}
		@media (max-width: 600px) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'text-slider'
				'image-slider'
				'sliders-controls';
			row-gap: 24px;
		}
	}
	&-text-slider {
		grid-area: text-slider;
		min-width: 0;
	}
	.swiper-advantage-text-slide {
		h2 {
			line-height: 120%;
			&:not(:last-child) {
				margin-bottom: 24px;
				@media (max-width: $tablet) {
					margin-bottom: 16px;
				}
			}
		}
		p {
			color: #89898f;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
			@media (min-width: $tablet) {
				margin-left: 112px;
			}
		}
	}
	&-image-slider {
		grid-area: image-slider;
		min-width: 0;
	}
	.swiper-advantage-image-slide {
		img {
			height: 452px;
			object-fit: cover;
			border-radius: 10px;
			@media (max-width: $tablet) {
				height: 312px;
			}
			@media (max-width: 600px) {
				width: 100%;
			}
			@media (max-width: $mobileSmall) {
				height: 220px;
			}
		}
	}
	.sliders-controls {
		grid-area: sliders-controls;
		@media (min-width: $tablet) {
			margin-left: 112px;
		}
		@media (max-width: 600px) {
			justify-content: center;
		}
	}
}
