.s-article {
	max-width: 100vw;
	position: relative;
	padding: 80px 0;
	background: white;
	color: black;
	p {
		color: #89898f;
	}
	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	&-black {
		color: white;
		background: black;
		padding: 160px 0;
		@media (max-width: $mobile) {
			padding: 72px 0;
		}
		p {
			color: #c6c8ce;
		}
	}
	&-decor {
		position: absolute;
		bottom: 80%;
		left: 0;
	}
	&-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&:nth-child(even) {
			flex-direction: row-reverse;
			.s-article-image {
				width: 648px;
				@media (max-width: 1250px) {
					width: 100%;
				}
			}
			@media (max-width: 1250px) {
				width: 100%;
				justify-content: flex-end;
			}
		}
		&:not(:last-child) {
			margin-bottom: 80px;
			@media (max-width: $mobile) {
				margin-bottom: 48px;
			}
		}
	}
	&-text {
		@media (min-width: 1250px) {
			max-width: 536px;
		}
	}
	&-image {
		position: relative;
		width: 536px;
		height: 452px;
		@media (max-width: 1250px) {
			margin-top: 24px;
			width: 100%;
		}
		@media (max-width: $mobileSmall) {
			height: 280px;
		}
		img {
			@extend %cover;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
	h4 {
		font-weight: 500;
		font-size: 24px;
		line-height: 40px;
		@media (max-width: $mobile) {
			font-size: 16px;
			line-height: 24px;
		}
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	@media (max-width: 1250px) {
		.section-headline h2 ~ * {
			max-width: 100%;
		}
	}
}
