.s-decor {
	padding: 60px 0;
	color: white;
	@media (max-width: $tablet) {
		padding: 72px 0;
	}
	[data-lottie='s-decor-lottie-left'] {
		max-height: 183px;
		display: flex;
		align-items: center;
		@media (max-width: 480px) {
			position: absolute;
			left: 10%;
		}
	}
	[data-lottie='s-decor-lottie-right'] {
		max-width: 850px;
		position: absolute;
		top: -12%;
		left: 0;
		right: 0;
		@media (max-width: 480px) {
			display: none;
		}
	}
	&-line {
		display: flex;
		align-items: center;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:nth-child(1) {
			[data-lottie]:last-child {
				@media (max-width: $mobileSmall) {
					display: none;
				}
			}
		}
		&:nth-child(2) {
			@media (max-width: $mobile) {
				padding-top: 12px;
				margin-bottom: 40px;
			}
			@media (max-width: 480px) {
				margin-bottom: 10px;
			}
			.s-decor-word {
				@media (max-width: 1340px) {
					margin-left: 60px;
				}
				@media (max-width: $mobileSmall) {
					margin-left: 20px;
				}
			}
		}
		&-bg {
			padding-left: 25%;
		}
	}
	&-img {
		&-rect {
			flex: 0 0 140px;
			width: 140px;
			height: 140px;
			overflow: hidden;
			border-radius: 10px;
			margin: 0 38px 0 24px;
			@media (max-width: $mobile) {
				flex: 0 0 70px;
				width: 70px;
				height: 48px;
				margin: 0 12px;
			}
		}
		&-border {
			margin-right: 24px;
			@media (max-width: 1340px) {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
			@media (max-width: $tablet) {
				height: 80px;
			}
			@media (max-width: 480px) {
				position: relative;
				margin: 8px 0 0 0;
			}
		}
	}
	&-word {
		font-weight: 700;
		font-size: 140px;
		text-transform: uppercase;
		color: $main-blue;
		@media (max-width: $tablet) {
			font-size: 80px;
		}
		@media (max-width: $mobile) {
			font-size: 48px;
		}
		&-gradient {
			color: $main-yellow;
		}
	}
	&-content {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
