.s-hover-tabs {
	padding: 80px 0 104px 0;
	background: white;
	overflow: hidden;
	@media (max-width: $mobile) {
		padding: 40px 0;
	}
	.page-title {
		margin-bottom: 64px;
		@media (max-width: $mobile) {
			margin-bottom: 24px;
		}
	}
	.hover-tabs {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1250px) {
			display: grid;
			grid-template-columns: 1fr;
			gap: 24px;
		}
		&-links {
			display: flex;
			flex-direction: column;
			max-width: 648px;
			width: 100%;
			@media (max-width: 1250px) {
				padding: 0 16px;
				max-width: 100%;
			}
			@media (max-width: $mobileSmall) {
				padding: 0 6px;
			}
		}
		&-link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			text-transform: uppercase;
			background: none;
			padding: 32px 0;
			color: #a4a4aa;
			border-bottom: 1px dashed $main-blue;
			position: relative;
			transition: all 0.4s ease-out;
			@media (max-width: $mobile) {
				padding: 16px 0;
				font-size: 14px;
				line-height: 18px;
			}

			& > * {
				z-index: 2;
			}

			&:after {
				content: '';
				position: absolute;
				opacity: 0;
				border-radius: 10px;
				z-index: 1;
				background-image: url('/img/interface/hover-svg.svg');
				background-repeat: no-repeat;
				background-size: 40% 40%;
				background-position: center left;
				background-color: transparent;
				transition: all 0.4s ease-out;

				width: 105%;
				height: 161%;
				top: -17%;
				left: -2%;
				right: 0;
				@media (max-width: 1250px) {
					background-color: $main-blue;
					background-image: none;
					width: 104%;
					height: 135%;
				}
			}
			&.js-active {
				padding-left: 18px;
				padding-right: 18px;
				margin-bottom: 30px;
				color: white;
				border-color: transparent;
				@media (max-width: $mobile) {
					margin-bottom: 20px;
				}
				&:after {
					opacity: 1;
					background-size: 100% 100%;
				}
				svg {
					stroke: white;
				}
			}
		}
		&-contents {
			max-width: 648px;
			height: 540px;
			width: 100%;
			@media (max-width: 1250px) {
				max-width: 100%;
			}
			@media (max-width: $tablet) {
				height: 360px;
			}
			@media (max-width: $mobileSmall) {
				height: 220px;
			}
		}
		&-content {
			width: 100%;
			height: 100%;
			display: none;
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				object-fit: cover;
				border-radius: 10px;
				overflow: hidden;
			}
			&.js-show {
				display: block;
			}
			&.js-show {
				animation: tabFadeIn 0.4s ease-out forwards;
			}
			&.js-hide {
				animation: tabFadeOut 0.4s ease-out forwards;
			}
		}
	}
}

@keyframes tabFadeIn {
	from {
		transform: scale(0.9);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes tabFadeOut {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.9);
		opacity: 0;
	}
}
