.s-partners {
  max-width: 100vw;
  color: white;
  position: relative;
  padding: 80px 0 80px 0;
  &:after {
    @extend %after-shadow;
  }
  &:before {
    @extend %before-shadow;
  }
  @media (max-width: $mobile) {
    padding: 72px 0;
  }
  *:not(.s-partners-decor) {
    position: relative;
    z-index: 2;
  }
  &-decor {
    position: absolute;
    top: 80px;
    left: 0;
  }
  .section-headline {
    margin-bottom: 156px;
    @media (max-width: $mobile) {
      margin-bottom: 56px;
    }
  }
  &-with-border {
    @media (min-width: $mobile) {
      margin-bottom: 40px;
    }
    .partners-slider {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -40px;
        width: 100%;
        height: 1px;
        box-shadow: $bottom-line;
      }
    }
  }
  &-white {
    color: black;
    background: white;
    .section-headline {
      margin-bottom: 108px;
    }
    &:after, &:before {
      display: none;
    }
    .partners-slider-descr {
      border-color: #A4A4AA;
      color: #585C62;
      background: none;
      -webkit-background-clip: inherit;
      -webkit-text-fill-color: inherit;
      background-clip: inherit;
      text-fill-color: inherit;
    }
  }
}