.s-portfolio {
  color: white;
  &-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 32px;
    @media (max-width: $tablet) {
      gap: 8px;
      justify-content: space-between;

    }
    @media (max-width: $mobileSmall) {
      .btn {
        font-size: 12px;
        min-width: 136px;
        padding: 10px;
      }
    }
    &-select {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 32px;
      @media (max-width: $mobile) {
        gap: 8px;
      }
      & > span {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: #141515;
        @media (max-width: $mobile) {
          display: none;
        }
      }
      & > svg {
        @media (min-width: $mobile) {
          display: none;
        }
      }
    }
  }
  &-list {
    display: grid;
    column-gap: 24px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-bottom: 46px;
    @media (max-width: $tablet) {
      row-gap: 24px;
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
  }
  &-pagination {
    margin-bottom: 84px;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
    &-btn {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;

      .btn {
        @media (max-width: $mobileSmall) {
          width: 100%;
        }
      }
    }
  }
}