.s-team {
  background: white;
  padding: 80px 0;
  max-width: 100vw;
  @media (max-width: $mobile) {
    padding: 40px 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    .btn {
      align-self: center;
      min-width: 200px;
      @media (max-width: $mobileSmall) {
        width: 100%;
      }
    }
  }
  &-grid {
    display: grid;
    column-gap: 24px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    margin: 64px 0 40px 0;
    @media (max-width: $mobile) {
      margin: 24px 0 32px 0;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  &-card {
    &:hover {
      .s-team-card-image {
        height: 300px;
        @media (max-width: $mobileSmall) {
          height: 152px;
        }
      }
      .s-team-card-descr {
        height: 48px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #0139B7;
      }
      .s-team-card-contacts {
        border-color: transparent;
      }
    }
    &-descr {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 0;
      transition: $transition;
      position: relative;
    }
    &-image {
      width: 100%;
      height: 348px;
      position: relative;
      margin-bottom: 16px;
      transition: $transition;
      @media (max-width: $mobileSmall) {
        height: 200px;
      }
      img {
        @extend %cover;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    &-name {
      font-size: 20px;
      color: #181717;
      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
    &-contacts {
      @extend %flex-along-center;
      flex-wrap: wrap;
      font-weight: 500;
      font-size: 16px;
      color: #585C62;
      margin-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #D9D9D9;
      @media (max-width: $mobile) {
        font-size: 12px;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
      a {
        @extend %flex-center;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 1px solid $main-blue;
        transition: $transition;
        svg {
          transition: $transition;
        }
        &:hover {
          background: $main-blue;
          svg {
            fill: white;
          }
        }
        @media (max-width: $mobile) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}