.s-team-promo {
  background: white;
  padding: 80px 0;
  overflow: hidden;
  @media (max-width: $mobile) {
    padding: 50px 0;
  }

  &-content {
    position: relative;
    @media (min-width: $mobile) {
      padding-top: 88px;
    }
  }
  &-row {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    color: #0A0A0A;
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      font-size: 56px;
      line-height: 56px;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 28px;
    }
    &:not(:last-child) {
      margin-bottom: 24px;
      @media (max-width: $mobile) {
        margin-bottom: 8px;
      }
    }
    &:nth-child(2) {
      color: $main-blue;
      @media (min-width: $mobile) {
        padding-left: 112px;
      }
    }
    &:nth-child(3) {
      padding-left: 17%;
      @media (max-width: $mobile) {
        padding-left: 0;
        margin-bottom: 109px;
      }
    }
    &:nth-child(4) {
      padding-left: 17%;
      @media (max-width: $mobile) {
        padding-left: 0;
        padding-right: 17%;
      }
    }
    &:nth-child(5) {
      @media (max-width: $mobile) {
        flex-direction: column;
      }
      .s-team-promo-image {
        margin-right: 24px;
      }
    }
  }
  &-decor-1 {
    background-repeat: no-repeat;
    position: absolute;
    left: 17px;
    bottom: 8px;
    width: 100vw;
    height: 300px;

    @media (max-width: 1300px) {
      left: 0;
      bottom: 0;
    }
    @media (max-width: $tablet) {
      display: none;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &-image-decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @media (max-width: $mobile) {
      top: 20%;
    }
  }
  &-image {
    flex: 0 0 536px;
    position: relative;
    width: 536px;
    height: 286px;
    @media (max-width: $tablet) {
      flex: 0 0 304px;
      width: 304px;
      height: 135px;
    }
    @media (max-width: $mobile) {
      flex: 0 0 240px;
      width: 240px;
      max-height: 110px;
    }
    img {
      @extend %cover;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  &-decor-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: $main-blue;
    word-spacing: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    @media (max-width: $mobile) {
      font-size: 10px;
      bottom: -14px;
    }
  }
}

.s-team-playground {
  display: flex;
  &-o {
    color: $main-blue;
  }
  &-grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
  }
  &-hueta {
    margin-left: 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 38%;
      left: 100%;
      height: 1px;
      width: 100vw;
      border-bottom: 1px dashed #D9D9D9;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &-bg {
    background-repeat: no-repeat;
    background-size: contain;
    width: 750px;
    height: 173px;
    position: absolute;
    top: 26px;
    left: 73px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 99.5%;
      height: 1px;
      width: 100vw;
      border-bottom: 1px dashed $main-blue;
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }
}