* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}

html {
	min-height: 100vh;
	background: white;
	&.lock {
		overflow: hidden;
	}
}

body {
	font-family: 'Gilroy';
	font-weight: 500;
	font-size: 18px;
	color: black;
	min-width: 300px;
	min-height: 100vh;
	background: black;
	user-select: none;
	-webkit-user-select: none;
	overflow-x: hidden;

	&.scroll,
	&.dropdown {
		overflow: hidden;
	}

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		pointer-events: none;
		transition: all 0.3s ease-out;
	}
	&._overlay {
		&:after {
			pointer-events: all;
			background: rgba(white, 0.7);
		}
	}
}

[class*='__image-ibg'] {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

iframe {
	display: block;
	width: 100%;
	height: auto;
	min-height: 400px;
	border: none;
	outline: none;
	@media (max-width: $mobile) {
		min-height: 300px;
	}
	@media (max-width: $mobileSmall) {
		min-height: 200px;
	}

	+ div {
		border: none !important;
	}
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

video {
	max-width: 100%;
	display: block;
	outline: none;
}

.black-mode {
	background: black !important;
	color: white !important;
}

#map {
	width: 100vw;
	height: 28vw;
	min-height: 400px;
}
